extends layout

block content
  // Icon Bar (Sidebar - hidden on small screens)
  nav(class='w3-sidebar w3-bar-block w3-small w3-hide-small w3-center')
    a(href=baseurl+'#', class='w3-bar-item w3-button w3-padding-large')
      i(class='material-icons w3-xxlarge') home
      p #{home}
    a(href=baseurl+'/#about', class='w3-bar-item w3-button w3-padding-large')
      i(class='material-icons w3-xxlarge') account_circle
      p #{about}
    a(href=baseurl+'/#apps', class='w3-bar-item w3-button w3-padding-large')
      i(class='material-icons w3-xxlarge') get_app
      p #{apps}
    a(href=baseurl+'/#contact', class='w3-bar-item w3-button w3-padding-large')
      i(class='material-icons w3-xxlarge') email
      p #{contact}
  // Navbar on small screens (Hidden on medium and large screens)
  div(class='w3-top w3-hide-large w3-hide-medium', id='myNavbar')
    div(class='w3-bar w3-white w3-opacity w3-hover-opacity-off w3-center w3-small')
      a(href=baseurl+'/#', class='w3-bar-item w3-button', style='width:25% !important') #{home}
      a(href=baseurl+'/#about', class='w3-bar-item w3-button', style='width:25% !important') #{about}
      a(href=baseurl+'/#apps', class='w3-bar-item w3-button', style='width:25% !important') #{apps}
      a(href=baseurl+'/#contact', class='w3-bar-item w3-button', style='width:25% !important') #{contact}
  div(class='w3-padding-large', id='main')
    header(class='w3-container w3-padding-32 w3-center w3-white', id='home')
      h1(class='w3-jumbo') #{title}
        span(class='w3-hide-small') #{homepage}
    div(class='w3-content w3-justify w3-padding-64', id='about')
      h2 #{about_title}
      div(class='w3-section')
        p #{about_content}
    div(class='w3-content w3-justify w3-padding-64', id='apps')
      h2 #{apps_title}
      div(class='w3-section')
        p !{apps_content}
        div(class='app-details-wrapper')
          img(class='app-picture', src=baseurl+'/images/n-128.png', alt='Notes icon')
          div(class='app-details')
            span #{notes}
            br
            a(href='https://notes.marcoparrone.com', target='_blank', rel='noreferrer')
              i(class='material-icons w3-xxlarge') open_in_browser
            a(href='https://play.google.com/store/apps/details?id=com.marcoparrone.twa.notes', target='_blank', rel='noreferrer')
              i(class='material-icons w3-xxlarge') get_app
        div(class='app-details-wrapper')
          img(class='app-picture', src=baseurl+'/images/b-128.png', alt='Bookmarks icon')
          div(class='app-details')
            span #{bookmarks}
            br
            a(href='https://bookmarks.marcoparrone.com', target='_blank', rel='noreferrer')
              i(class='material-icons w3-xxlarge') open_in_browser
            a(href='https://play.google.com/store/apps/details?id=com.marcoparrone.twa.bookmarks', target='_blank', rel='noreferrer')
              i(class='material-icons w3-xxlarge') get_app
        div(class='app-details-wrapper')
          img(class='app-picture', src=baseurl+'/images/r-128.png', alt='Reminder icon')
          div(class='app-details')
            span #{reminder}
            br
            a(href='https://reminder.marcoparrone.com', target='_blank', rel='noreferrer')
              i(class='material-icons w3-xxlarge') open_in_browser
            a(href='https://play.google.com/store/apps/details?id=com.marcoparrone.twa.reminder', target='_blank', rel='noreferrer')
              i(class='material-icons w3-xxlarge') get_app
        div(class='app-details-wrapper')
          img(class='app-picture', src=baseurl+'/images/t-128.png', alt='Tic tac toe icon')
          div(class='app-details')
            span #{tictactoe}
            br
            a(href='https://tic-tac-toe.marcoparrone.com', target='_blank', rel='noreferrer')
              i(class='material-icons w3-xxlarge') open_in_browser
            a(href='https://play.google.com/store/apps/details?id=com.marcoparrone.twa.tictactoe', target='_blank', rel='noreferrer')
              i(class='material-icons w3-xxlarge') get_app
    div(class='w3-content w3-justify w3-padding-64', id='contact')
      h2 #{contact_title}
      div(class='w3-section')
        p
        i(class='material-icons w3-xxlarge') email
        span #{email}
        a(href='mailto:marco@marcoparrone.com', target='_blank', rel='noreferrer') marco@marcoparrone.com
        p
        i(class='material-icons w3-xxlarge') location_on
        span #{location}